* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	user-select: none;
}
html{
	-webkit-tap-highlight-color: transparent;	/* Убираем выделение */
	tap-highlight-color: transparent;			/* Убираем выделение */
	scroll-behavior: smooth;
}
html, body {
	background-color: #ffffff;
	/*Отключаем класичиское передвижение по сайту*/
	overscroll-behavior-y: none; 		/* для Safari */
	-webkit-overflow-scrolling: touch;	/* для Safari */
	overflow: hidden;
}
body {
    height: 100%;
	min-height: -webkit-fill-available; /* для Safari */
}

/* Скрыть скроллбар на всем сайте */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

picture{
	display: block; 
	width: 100%;
	height: 100%;
	position: absolute; 
}

/* Стили для контейнера модулей */
.modules-container {
	position: relative;
    height: 100vh; height: 100dvh;
}
.modules-container-iphone {
	overflow-y: auto;
	overflow-x: hidden;
	scroll-snap-type: y mandatory; /* Привязка к точкам */
}

/* Общий стиль для модулей */
.module {
	width: 100%;
	height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
	touch-action: none;
	outline: none;
}
.module-iphone{
	touch-action: auto;
	scroll-snap-align: start; /* Выравнивание при скролле */
}

/* Содержимое модуля */
.module-content {
    position: relative;
    text-align: center;
}

/* Навигационные стрелки */
.arrow{
	width: calc(2dvh + 0.6vw);
    height: calc(2dvh + 0.6vw);
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
	animation: bounce 2s infinite;
	
}
.scroll-down-btn:hover{
	animation: none;
}

/* Стрелка вверх */
.scroll-top-btn {
    position: fixed;
    right: 3%;
    bottom: 6%;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease;
	transform: scaleY(-1);
	opacity: 0.6;
	mix-blend-mode: difference;
    isolation: isolate;
}
@media (min-width: 768px) {
	.scroll-down-btn:hover {
		opacity: 1;
	}
}

/* Стрелка вниз */
.scroll-down-btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1vh; bottom: 1dvh;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease;
	opacity: 0.6;
	mix-blend-mode: difference;
    isolation: isolate; 
}
@media (min-width: 768px) {
	.scroll-down-btn:hover {
		opacity: 1;
		transform: scale(1.2) translateX(-50%);
	}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


/* Адаптивность */

/* Компьютерная версия */
@media (min-width: 768px) {
	.mobile-image { display: none; }
	.module-1 {
		background-color: #1a1a18;
		background-image: url('../images/computer/1.jpg'); 
		}
	.module-2 {
		background-color: #000000;
		background-image: url('../images/computer/2.jpg');
		}
	.module-3 {
		background-image: url('../images/computer/3.jpg');		
		}
	.module-4 {
		background-image: url('../images/computer/4.jpg');			
		}
	.module-5 {
		background-image: url('../images/computer/5.jpg');	
		}
	.module-6 {
		background-image: url('../images/computer/6.jpg');
		background-position: bottom;	
		}
}

/* Немного больше адаптивности к компьютерной версии */
@media (min-width: 768px) and (max-width: 1100px) {
	.module-3 { background-size: contain; background-size: 140%; }
	.module-4 { background-size: contain; background-size: 140%; }
	.module-5 { background-size: contain; background-size: 140%; }	
} 

/* Мобильная версия */
@media (max-width: 768px) {
	
	.image{
		width: 100%;
		height: 100%;		
		object-fit: contain; 
	}
	
	.arrow{
		width: calc(2dvh + 2vw);
		height: calc(2dvh + 2vw);
	}
	
	/* 1 слайд */
	/* Фон */
	.module-1 {
		background-color: #000000;
		background-image: url('../images/mobile/1.jpg');
	}
	/* Цифры на фоне */
	.image.m1-2{
		object-position: bottom;
		padding: 0 0 5dvh 0;
	}
	/* Цифры сверху */
	.image.m1-3{
		object-position: right top; 
		padding: 8dvh 0 0 20% ;
	}
	/* Основной текст */
	.image.m1-4{
		object-position: center bottom; 
		padding: 0 20% 15dvh 20%;
	}
	
	/* 2 слайд */
	.module-2 {
		background-color: #000000;
		background-image: url('../images/mobile/2.jpg');
		background-size: contain;
	}
	
	/* 3 слайд */
	/* Календарь */
	.image.m3-1{
		object-position: bootom;
		padding: 50% 10% 10% 10%;
	}
	/* Шапка */
	.image.m3-2{
		object-position: top;
	}
	
	/* 4 слайд */
	.image.m4-1{
		object-position: top;
	}
	
	/* 5 слайд */
	.module-5 {
		background-image: url('../images/mobile/5.jpg');
		background-size: contain;
	}
	
	/* 6 Слайд */	
	/* Картинка подвала */	
	.image.m6-1{ 
		object-fit:fill;
		object-position: bottom;
		padding-top: 70dvh;
	}
	/* Текст сверху */
	.image.m6-2{
		object-position: top;
		padding: 4dvh 10% 48% 10%
	}
	/* Текст в подвале */
	.image.m6-3{
		object-position: bottom; 
		padding: 86dvh 5% 1% 5%;
	}
	
}
