* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	-webkit-tap-highlight-color: transparent;	/* Убираем выделение */
	tap-highlight-color: transparent;			/* Убираем выделение */
	scroll-behavior: smooth;
}
html, body {
	background-color: #ffffff;
	/*Отключаем класичиское передвижение по сайту*/
	overscroll-behavior-y: none; 		/* для Safari */
	-webkit-overflow-scrolling: touch;	/* для Safari */
	overflow: hidden;
}
body {
    height: 100%;
	min-height: -webkit-fill-available; /* для Safari */
}

/* Скрыть скроллбар на всем сайте */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

picture{
	display: block; 
	width: 100%;
	height: 100%;
	position: absolute; 
}

/* Стили для контейнера модулей */
.modules-container {
	position: relative;
	width: 100%;
    height: 100vh; height: 100dvh;
}

.modules-container-iphone {
	overflow-y: auto;
	overflow-x: hidden;
	scroll-snap-type: y mandatory; /* Привязка к точкам */
}

/* Стили для каждого модуля */
.module {
	width: 100%;
	height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
	touch-action: none;
	outline: none;
}

.module-iphone{
	touch-action: auto;
	scroll-snap-align: start; /* Выравнивание при скролле */
}

/* Содержимое модуля */
.module-content {
    position: relative;
    text-align: center;
}

/* Навигационные стрелки */
.arrow{
	width: calc(2dvh + 0.6vw);
    height: calc(2dvh + 0.6vw);
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
	animation: bounce 2s infinite;
	opacity: 0.6;
}

/* Стрелка вверх */
.scroll-top-btn {
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease;
	transform: scaleY(-1);
	mix-blend-mode: difference;
    isolation: isolate; 
}

/* Стили для не-iOS браузеров 
@supports not (-webkit-touch-callout: none) {
    .scroll-top-btn {
        mix-blend-mode: difference;
		isolation: isolate; /* Изолирует элемент от фона */
    }
	
	/*.scroll-top-btn:hover {
		transform: translateY(-10px) scale(1.05);
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	}
}*/

.scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
	pointer-events: auto; /* Для Safari */
}

/* Стрелка вниз */
.scroll-down-btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1vh; bottom: 1dvh;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease;
	
	mix-blend-mode: difference;
	/* Изолирует элемент от фона для правильной работы blend-mode*/
    isolation: isolate; 
	
}

.scroll-down-btn:hover {
    opacity: 1;
    transform: translateX(-50%) scale(1.2);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}



/* Адаптивность */

/* Компьютерная версия */
@media (min-width: 768px) {
	.module-1 {
		background-color: #1a1a18;
		background-image: url('../images/computer/1.jpg'); 
		}
	.module-2 {
		background-color: #000000;
		background-image: url('../images/computer/2.jpg');
		}
	.module-3 {
		background-image: url('../images/computer/3.jpg');		
		}
	.module-4 {
		background-image: url('../images/computer/4.jpg');			
		}
	.module-5 {
		background-image: url('../images/computer/5.jpg');	
		}
	.module-6 {
		background-image: url('../images/computer/6.jpg');
		background-position: bottom;	
		}
}

/* Немного больше адаптивности к компьютерной версии */
@media (min-width: 768px) and (max-width: 1100px) {
	.module-3 { background-size: contain; background-size: 140%; }
	.module-4 { background-size: contain; background-size: 140%; }
	.module-5 { background-size: contain; background-size: 140%; }	
} 

/* Мобильная версия */
@media (max-width: 768px) {
	
	.image{
		width: 100%;
		height: 100%;		
		object-fit: contain; 
	}
	
	/* Фон */
	.module-1 {
		background-color: #000000;
		background-image: url('../images/mobile/1.jpg');
	}
	/* Цифры на фоне */
	.image.m1-2{
		object-position: bottom;
		padding: 0 0 5dvh 0;
	}
	/* Цифры сверху */
	.image.m1-3{
		object-position: right top; 
		padding: 8dvh 0 0 20% ;
	}
	/* Основной текст */
	.image.m1-4{
		object-position: center bottom; 
		padding: 0 20% 15dvh 20%;
	}
	
	.module-2 {
		background-color: #000000;
		background-image: url('../images/mobile/2.jpg');
		background-size: contain;
	}
	.module-3 {
		background-image: url('../images/mobile/3.jpg'); 
	}
	.module-4 { 
		background-image: url('../images/mobile/4.jpg'); 
		background-size: contain;	
	}
	.module-5 {
		background-image: url('../images/mobile/5.jpg');
		background-size: contain;
	}
	
	/* Картинка подвала */	
	.image.m6-1{ 
		object-position: bottom; 
	}
	/* Текст сверху */
	.image.m6-2{
		object-position: top;
		padding: 4dvh 10% 56% 10%
	}
	/* Текст в подвале */
	.image.m6-3{
		object-position: bottom; 
		padding: 0px 5% 1% 5%;
	}
	
    .arrow{
		width: calc(2dvh + 2vw);
		height: calc(2dvh + 2vw);
	}
}

/* Для очень маленьких экранов*/	
@media (max-height: 500px) {
}

