* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
html, body {
	background-color: #ffffff;
	/*Отключаем класичиское передвижение по сайту*/
	overscroll-behavior-y: none; 		/* для Safari */
	-webkit-overflow-scrolling: touch;	/* для Safari */
	overflow: hidden;		/* Скрыть скроллы !important*/
}
body {
    height: 100vh; height: 100dvh;
	min-height: -webkit-fill-available; /* для Safari */
}

/* Скрыть скроллбар на всем сайте */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Стили для контейнера модулей */
.modules-container {
	position: relative;
	width: 100%;
    height: 100vh; height: 100dvh;
}

.modules-container-iphone {
	overflow-y: auto;  /* Вертикальный скролл */
	scroll-snap-type: y mandatory; /* Привязка к точкам */
}

/* Стили для каждого модуля */
.module {
	width: 100%;
    height: 100vh; height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
	touch-action: none;

}

.module-iphone{
	touch-action: auto;
	scroll-snap-align: start; /* Выравнивание при скролле */
}

/* Содержимое модуля */
.module-content {
    position: relative;
    text-align: center;
}

/* Навигационные стрелки */
.arrow{
	width: calc(2dvh + 0.7vw);
    height: calc(2dvh + 0.7vw);
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
	opacity: 0.6;
}
.arrow.up{
	opacity: 0.4;
	transform: rotate(180deg);
}
/* Стрелка вверх */
.scroll-top-btn {
	padding:10px;
	background: rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: 5vh; bottom: 5dvh;
	right: 1vw; right: 1dvw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
	border: 0px;
    cursor: pointer;
    z-index: 100;
	display: flex;
    justify-content: center;
    align-items: center;
	transition: all 0.2s ease;
	-webkit-backdrop-filter: blur(3px); /* Для Safari */
	backdrop-filter: blur(3px); 
	opacity: 0;
    visibility: hidden;
    -webkit-tap-highlight-color: transparent; /* Для Safari */
    touch-action: manipulation; /* Для Safari */
	
}

/* Стили для не-iOS браузеров */
@supports not (-webkit-touch-callout: none) {
    .scroll-top-btn {
        mix-blend-mode: difference;
		isolation: isolate; /* Изолирует элемент от фона */
        background: rgba(255, 255, 255, 0.1);
    }
	
	.scroll-top-btn:hover {
		background: rgba(255, 255, 255, 0.2);
		border-color: rgba(255, 255, 255, 0.2);
		transform: translateY(-10px) scale(1.05);
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	}
}

.scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
	pointer-events: auto; /* Для Safari */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Стрелка вниз */
.nav-arrow {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1vh; bottom: 1dvh;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: bounce 2s infinite;
	
	mix-blend-mode: difference;
	/* Изолирует элемент от фона для правильной работы blend-mode*/
    isolation: isolate; 
}

.nav-arrow:hover {
    opacity: 1;
    transform: translateX(-50%) scale(1.2);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}



/* Адаптивность */

/* Компьютерная версия */
@media (min-width: 768px) {
	.module-1 {
		background-color: #1a1a18;
		background-image: url('../images/computer/1.jpg'); 
		}
	.module-2 {
		background-color: #000000;
		background-image: url('../images/computer/2.jpg');
		}
	.module-3 {
		background-image: url('../images/computer/3.jpg');		
		}
	.module-4 {
		background-image: url('../images/computer/4.jpg');			
		}
	.module-5 {
		background-image: url('../images/computer/5.jpg');	
		}
	.module-6 {
		background-image: url('../images/computer/6.jpg');
		background-position: bottom;	
		}
}

/* Немного больше адаптивности к компьютерной версии */
@media (min-width: 768px) and (max-width: 1100px) {
	.module-3 { background-size: contain; background-size: 140%; }
	.module-4 { background-size: contain; background-size: 140%; }
	.module-5 { background-size: contain; background-size: 140%; }	
} 

/* Мобильная версия */
@media (max-width: 768px) {	
	.module-1-2,
	.module-1-3,
	.module-6-2 {
		position: absolute; /* Чтобы можно было позиционировать */
		width: 100%; /* Задайте нужную ширину */
		height: 100%; /* Задайте нужную высоту */
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	
	.module-1 {
		background-color: #ffffff;
		background-image: url('../images/mobile/1.jpg');
	}
	.module-1-2 { 
		background-image: url('../images/mobile/1_2.svg');
		background-size: 100% 100%;
	}
	.module-1-3 { 
		background-image: url('../images/mobile/1_3.svg');
		background-size: 100% 100%;
	}
	
	.module-2 {
		background-image: url('../images/mobile/2.jpg');
	}
	.module-3 {
		background-image: url('../images/mobile/3.jpg'); 
	}
	.module-4 { 
		background-image: url('../images/mobile/4.jpg'); 
		background-size: csontain;	
	}
	.module-5 {
		background-image: url('../images/mobile/5.jpg');
		background-size: contain;
	}
	.module-6 {
		background-image: url('../images/mobile/6.png');
		background-position: center bottom;
	}
	.module-6-2 { 
		background-image: url('../images/mobile/6_2.svg');
		background-position: center bottom;
		background-size: 100% 100%;
	}
	       
    .scroll-top-btn {
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
	}
    .arrow{
		width: calc(2dvh + 2vw);
		height: calc(2dvh + 2vw);
	}
}

/* Для очень маленьких экранов*/	
@media (max-width: 480px) {
	
}

